.app-header {
  padding-inline: 1rem;
  gap: 1rem;
  box-shadow: 0px 2px 15px 0px #b6b6b6;

  .header-logo {
    gap: 1rem;

    h1 {
      @include for-mobile-layout {
        display: none;
      }
    }
  }

  .user-actions {
    gap: 1rem;
    p {
      @include for-mobile-layout {
        display: none;
      }
    }
  }
}
