* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans-Regular;
}

body,
input,
select,
textarea {
  line-height: rem(20px);
  font-size: rem(14px);
  font-weight: 400;
  margin: 0;
  font-family: OpenSans-Regular;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  display: flex;
  align-content: center;
  justify-content: center;
}
