form {
  gap: 1rem;
}

.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  line-height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  color: $clr3;
  &:hover {
    color: #1e1e1e;
  }

  &-primary {
    height: 32px;
    background-color: $logo-purple;
    color: $clr0;
    padding: 4px 12px;
    &:hover {
      color: $clr0;
      background-color: $logo-light-purple;
    }
  }

  &-light {
    background-color: $clr2;

    &:hover {
      background-color: $clr5;
    }

    &.currDay {
      background-color: $clr5;
    }
  }
}
.book-btn {
  font-family: OpenSans-Semibold;
}
