@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../../fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(../../fonts/OpenSans/OpenSans-SemiBold.ttf);
}
